.center{
    text-align: center;
   
}
.titulo{
    font-size: 35pt;
    color: linen;
    font-family: cursive;
}

.justify{
    text-align: justify;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center
}



#menu li {
    display: inline;
    padding: 15px;
    
}

.menu2{
    font-size: 20pt;
    padding: 25px;
}

#menu li a{
    text-decoration: none;
    color: papayawhip;
    font-size: 20px;
    
}

#menu li a:hover{
    color: red;
}

.p-30{
    padding: 30px;
}
.br-50{
    border-radius: 50%;
}

.wh-300{
    width: 300px;
    height: 300px;
}
.tm-social{
    width: 50px;
    height: 50px;
    display: inline;
}

.mb-50{
    margin-bottom: 50px;
}
/*Estilo da pagina contato.html*/

.ml-50{
    margin-left: 50px;
}

.rs1{
    transition: all 0.5s;
    cursor: pointer;
}

.rs1:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.foto{
    transition: all .5s;
    border: 10px solid #eeeeee;
}

.foto:hover{
    border: 10px solid #781f40;
    border-radius: 50%;
    -webkit-filter: drop-shadow(15px 7px 1px rgba(0,0,0,.5));
    filter: drop-shadow(15px 7px 1px rgba(0,0,0,.5));
    -webkit-transform: rotateZ(-360deg) scale(1.5);
    transform: rotateZ(-360deg) scale(1.5);
}

.fundo{
    background-image: url(../img/fundo1.jpg);
}

.texto{
    color: white;
    font-weight: bold;
}